*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.click-screen {
    position: relative;
    z-index: 1;
    height: 100vh;
    background-color: lightgoldenrodyellow; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.click-screen h1 {
    font-size: 30px;
    text-align: center;
}

.click-screen img {
    width: 350px;
    opacity: 0;
    position: absolute;
    z-index: 200;
}

img.fadeIn {
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.25s ease;
}

img.fadeOut {
    opacity: 0;
}