*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.click-screen {
    height: 100vh;
    background-color: lightgoldenrodyellow; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.click-screen h1 {
    font-size: 30px;
    text-align: center;
}

.click-screen img {
    width: 150px;
    opacity: 1;
    position: absolute;
}

div.fadeIn {
    opacity: 1;
}